<div class="col-xl-8 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
        </div>

        <div class="col-4 text-right">
          <button class="btn btn-sm btn-primary" (click)="Cancel()">Cancel</button>
        </div>

      </div>
    </div>

    <div class="card-body">
      <form #submitForm="ngForm">

        <div class="col-4 text-right">
          <button [disabled]="submitForm.invalid" class="btn btn-sm btn-primary"
            (click)="save();submitForm.reset()">save</button>
        </div>


        <div class="pl-lg-4">
          <div class="col-4 text-left">
            <label for="QText">category name : </label>
            <input type="text" class="form-control form-control-alternative" placeholder="Username"
              [(ngModel)]="newCategory.Name" name="QText" required>
          </div>


        </div>

        <div class="pl-lg-4">
          <div class="col-4 text-left">
            <label for="ImageUrl">category name : </label>
            <input type="file" class="form-control file file fileUpload form-control-alternative" placeholder="Username"
              [(ngModel)]="newCategory.ImageUrl" name="ImageUrl" required>
          </div>


        </div>



      </form>
    </div>
  </div>
</div>
