<div *ngIf="catDetails">

  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">{{categ.Name}}</h3>
            <!-- <h3 class="mb-0">{{QuesDetails | json}}</h3> -->
          </div>

        </div>
      </div>




      <div class="card-body">
        <form #EForm="ngForm">


          <div class="col-4 text-right">
            <button [disabled]="EForm.invalid" class="btn btn-sm btn-primary" (click)="Save()">save</button>
          </div>


          <div class="pl-lg-4" *ngIf="editable==false">
            <div class="pl-lg-4">
              <div class="col-4 text-right">
                <input type="text" required class="form-control form-control-alternative" placeholder="category name"
                  [(ngModel)]="catDetails.Name" name="name">
              </div>

            </div>

            <div class="pl-lg-4">
              <div class="col-4 text-right">
                <input type="file" required class="form-control form-control-alternative" placeholder="Image Url"
                  (ngModelChange)="catDetails.ImageUrl = $event" name="ImageUrl">
              </div>

            </div>


          </div>


        </form>
      </div>
    </div>
  </div>
</div>
