<!-- <div class="container-fluid mt--7">
  <div class="row"> -->

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">New Exam Information</h3>
            </div>
            <!-- <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Settings</a>
        </div> -->
          </div>
        </div>
        <div class="card-body">
          <form #addExamForm="ngForm" id="examForm">
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" required for="input-username">Exam Name</label>
                    <input type="text" id="input-name" class="form-control form-control-alternative"
                      [(ngModel)]="newExam.Name" name="exam_name" placeholder="Exam Name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" required for="ExamDate">Exam Date</label>
                    <input type="date" id="ExamDate" [ngModel]="newExam.ExamDate"
                      (ngModelChange)="changeInputDate($event) " name="examDate"
                      class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" required for="inputFir">First Name</label>
                      <input type="text" id="inputFir" [(ngModel)]="newExam.FirstName" name="examFirstName"
                        class="form-control form-control-alternative" placeholder="">
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" required for="inputLas">Last Name</label>
                      <input type="text" id="inputLas" [(ngModel)]="newExam.LastName" name="inputLas"
                        class="form-control form-control-alternative" placeholder="">
                    </div>
                  </div>

                </div>

              </div>

              <hr class="my-4" />
              <!-- Description -->
              <!-- <h6 class="heading-small text-muted mb-4">About me</h6> -->
              <div class="pl-lg-4">
                <div class="form-group">
                  <label>Description</label>
                  <textarea rows="4" name="newExamName" required class="form-control form-control-alternative"
                    [(ngModel)]="newExam.Description" placeholder="Description ..."></textarea>
                </div>
              </div>

              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">Exam Categories</h6>
              <div class="row my-4">
                <div class="col-6">
                  <div *ngIf="categs && categs.length>0">
                    <div class="custom-control custom-control-alternative custom-checkbox"
                      *ngFor="let item_ of categs">

                      <input class="custom-control-input" [id]="item_.Id"
                      type="checkbox" [value]="item_['Checked']"
                      [checked]="item_['Checked']"
                        (change)="changeQStatus(item_)">

                      <label class="custom-control-label" [for]="item_.Id">
                        <span class="text-muted">{{item_.Name}} </span>
                      </label>
                    </div>
                  </div>

                  <div *ngIf="!categs || categs.length==0">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <span class="text-muted">No Categories </span>
                    </div>
                  </div>


                </div>
                <div class="col-6">

                  <h6 class="heading-small text-muted mb-4">Selected Quastions</h6>
                  <uL>
                    <li *ngFor="let Item of (categs | checkedPipe :'Checked':'true')">
                      {{Item.Id+" : "+Item.Name}}</li>
                  </uL>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-2">
                  <button type="submit" [disabled]="addExamForm.invalid" class="btn btn-primary mt-4" (click)="saveExam()">save</button>
                </div>
                <div class="col-2">

                  <button type="button" class="btn btn-primary mt-4" (click)="reset()">reset</button>
                </div>
              </div>

          </form>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->
