<!-- Page content -->
<div class="container-fluid">
  
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Card tables</h3>
        </div>
        
        
        <div class="text-center">
          <button type="button" class="btn btn-primary mt-4" (click)="postNewQues()">Add Question</button>

          <app-add-question  (questionsChange)="pushNewQues($event)" *ngIf="showAddQuesCompo==true"></app-add-question>
          
        </div>
        

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">QuestionText</th>
                <!-- <th scope="col">Category Name</th> -->
                <!-- <th scope="col">Answers</th> -->
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Questions | async">
                <th scope="row">
                  {{item.QuestionText}}
                </th>
                <!-- <td>
                  {{item.CategoryName}}
                </td> -->
                <td>
                   <div class="text-center">
                    <button type="button"
                     class="btn btn-primary mt-4" 
                     (click)="selectQues(item)"
                     >Details</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
         <!-- <router-outlet></router-outlet> -->
        <app-edit-detail [ques]="selectedQues" (ques)="saveChanges($event)" ></app-edit-detail>
    </div>
  </div>
</div>
