<!-- Page content -->
<div class="container-fluid">

  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Card tables</h3>
        </div>



        <div class="text-center">
          <button type="button" class="btn btn-primary mt-4" (click)="onAddClick()">
            {{showAddCategCompo==false ? 'Add Category' : 'Close'}}
          </button>

          <app-add-category (newCateg)="pushNewCateg($event)" *ngIf="showAddCategCompo==true"></app-add-category>

        </div>



        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">CategoryText</th>
                <th scope="col">Action</th>

                <!-- <th scope="col">Users</th>
                <th scope="col">Completion</th> -->
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Categories | async">
                <th scope="row">
                  <!-- <div class="media align-items-center">
                    </div> -->
                  {{item.Name}}

                </th>

                <td>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary mt-4" (click)="selectCateg(item)">Details</button>
                  </div>


                </td>
                <td>


                  <button class="btn btn-primary mt-4" (click)="DeleteCate(item)">
                    <i class="ni ni-fat-remove"></i>Delete</button>

                </td>
              </tr>



            </tbody>
          </table>
          <app-category-edit-detail [categ]="selectedCateg" (updatedCateg)="put($event)"
            *ngIf="selectedCateg && showEditCopm==true ">
          </app-category-edit-detail>
        </div>
      </div>
    </div>
  </div>
</div>
